# =========================
# Node & Dependências
# =========================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
# (Se usar Yarn, mantenha o yarn.lock fora do gitignore. Se usar npm, mantenha package-lock.json fora. Acima, ignorei o do npm caso use yarn, remova se for o contrário).

# =========================
# Expo
# =========================
.expo/
dist/
web-build/
# @generated expo-cli
expo-env.d.ts
# @end expo-cli

# =========================
# Variáveis de Ambiente
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# =========================
# Android
# =========================
android/.gradle
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
*.keystore
!default.keystore

# =========================
# iOS
# =========================
ios/Pods/
ios/build/
ios/Index/
ios/DerivedData/
ios/*.xcworkspace
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# =========================
# Sistema Operacional
# =========================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# =========================
# Outros (Logs, Caches, etc)
# =========================
*.log
.eslintcache
.watchmanconfig